.foto-perfil{
    max-width: 250px;
    border-style:  outset ;
}

.col-md-7{
    border-style:  outset ;
}

.col-md-4{
    border-style:  outset ;
}

.col-md-3{
    border-style:  outset ;
}